@page "/"
@inherits EmployeeListBase

<h3>Employee List | Selected employee(s): @selectedEmployeesCount </h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">show footer</label>
<div class="card-deck">

    @if (Employees == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        @foreach (var employee in Employees)
        {
           <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChnaged" ></DisplayEmployee>
        }
    }
        

</div>